# Ignore folders
image-captioning-base-dataset/
without_attention/epochs-archive/
without_attention/Flicker8k_Dataset/
without_attention/Flickr8k_text/
without_attention/testing/
without_attention/venv/
without_attention/.idea/

#Ignore files
*.h5
*.pkl
